<h1><%= t('distributors') %></h1>

<p>Fusionglass Distribution is all about connecting customers to the products they want; If you're a motivated, passionate person with an interest in sales,
  we have an opportunity for you. Each account that you link up to Fusionglass Company yields a percentage comission for every purchase they make! There are no
  training costs or setup fees, you need only purchase a kit of samples and displays with which to get started. Your distribution account will be able to access
  special packages and will purchase at a discounted rate. Give us a call if you would like to learn more, or go ahead and apply and we will contact you by email.<p>
    
    <p> Our distribution program is ideal for individuals and small teams who need a product line robust enough to sell in today's shaky markets. Our products
      are ideal for direct sales, or you can seek out businesses which you think might be interested in a Fusionglass Wholesale Account. </p>
      <hr />
      <p> If you are a business owner looking to buy fusionglass in bulk, consider a <a href="/wholesalers">wholesale</a> account instead.</p>
      